body {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20em;
  width: 65em;
  color: #444;
  font-family: 'Donegal One', serif;
}

p {
  font-size: 90%;
  line-height: 1.65em;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.15em;
  font-size: 500%;
  color: #222;
}

acronym {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}

hr {
  height: 1px;
  background-color: #444;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

p.introduction {
  margin: 3em 0em;
  font-size: 150%;
}

/* faces stuff */

div.bio {
  width: 20em;
  float: left;
  /* display: inline-block; */
  margin: 0em .5em;
  height: 35em;
}

div.bio img.face {
  width: 17em;
  box-shadow: 3px 3px 2px black;
}

div.bio h2.name {
  font-size: 125%;
}

div.bio ul.info {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0em;
}

div.bio ul.info li {
  float: left;
  margin-right: .5em;
}

div.bio ul.info li:after {
  content: " \2022";
}

div.bio ul.info li:last-child:after {
  content: "";
}

div.bio div.description {
  /* text-align: justify; */
  /* -webkit-hyphens: auto; */
  /* -moz-hyphens: auto; */
  /* hyphens: auto; */
}
